p,
span,
strong {
  font-size: 16px !important;
}
.date {
  font-size: 0.7em !important;
}
a {
  text-transform: none !important;
}

.pseudo {
  text-transform: capitalize;
}
.v-btn {
  color: #424242 !important;
  background-color: white !important;
  text-transform: none !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  &:hover {
    background-color: #e91e63 !important;
    color: white !important;
  }
}

//header
.photo-header {
  width: 32px !important;
  height: 32px !important;
}
//footer
.footer {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 0 !important;
  height: 50px !important;
  width: 100%;
}
//container
.signup-container {
  background-image: url("../src/assets/stars.svg");
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.signup-box {
  position: relative;
  justify-content: center;
}
.signup-card {
  &__submit {
    margin: auto;
    padding-bottom: 20px;
  }
}
.titre {
  font-size: 1.4em !important;
  &_new {
    font-size: 1.2em!important;
    color: white !important;
  }
}
.message {
  margin-left: 1.2em !important;
}
@media (max-width: 640px) {
  .signup-box {
    margin-left: 0 !important;
  }
}
.post-box {
  background-image: url("../src/assets/stars.svg");
  background-repeat: repeat;
  height: 100%;
  padding-bottom: 5em;
}
.post-title-box {
  background-color: #424242 !important;
  .post-title {
    color: white;
    font-weight: 600 !important;
  }
}
